.first{
  background-color: #ee3e64;
  float: left;
  height: 300px;
  width: 300px;
       }
.second{
  background-color: #44accf;
  float: left;
  height: 300px;
  width: 300px;

       }
.third{
  background-color: #b7d84b;
  height: 300px;
  position: relative;
  top: 300px;
  width: 300px;  
      }
